*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}

.topbar{
position: fixed;
background: #fff;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
width: 100%;
height: 60px;
padding: 0 20px;
display: grid;
grid-template-columns: 2fr 10fr 0.4fr 1fr;
align-items: center;
z-index: 1;
}

.logo h2{
    color: rgb(175, 208, 208);
}

.search{
position: relative;
width: 60%;
justify-self: center;
}

.search input{
    width: 100%;
    height: 40px;
    padding: 15px 40px;
    font-size: 15px;
    outline: none;
    border: none;
    border-radius: 10px;
    background: #f5f5f5ff;
}

.search i{
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}

.user {
    position: relative;
    width: 50px;
    height: 50px;
}

.user img{
    position: absolute;
    top: 5px;
    left: 0;
    height: 90%;
    width: 90%;
    object-fit: cover;
}

.sidebar {
    position:fixed;
    top: 60px;
    width: 260px;
    height: calc(100%-60px);
    background: rgb(107, 198, 149);
    overflow-x: hidden;
}

.sidebar ul{
    margin-top: 20px;
}

.sidebar ul li{
    width: 100%;
    list-style: none;
}

.sidebar ul li a{
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 60px;
    display: flex;
    align-items: center;
}

.sidebar ul li a i{
    min-width: 60px;
    font-size: 24px;
    text-align: center;
}